.team-section-three-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  margin-top: 1rem;
}

@media screen and (max-width: 1000px) {
  .team-section-three-container {
    padding: 50px;
  }
}

@media screen and (max-width: 826px) {
  .team-section-three-container {
    padding: 20px;
  }
}
