.section-nine-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  padding-bottom: 100px;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .section-nine-container {
    padding: 50px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 826px) {
  .section-nine-container {
    padding: 50px 0px;
    padding-bottom: 100px;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .section-nine-container {
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 12rem;
  }

  .sec-nine-left {
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -16rem;
    left: 0;

    z-index: 1;
    color: var(--text-color);
  }

  .sec-nine-left h1 {
    color: var(--text-color);
    text-align: center;
    width: 60%;
  }

  .sec-nine-img {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .sec-nine-left h1 {
    width: 100%;
    padding: 0 1rem;
  }
}

.animate-from-bottom {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.animate-from-bottom.animate {
  opacity: 1;
  transform: translateY(0);
}

.delay-100 {
  transition-delay: 100ms;
}

.delay-200 {
  transition-delay: 200ms;
}

.delay-300 {
  transition-delay: 300ms;
}
