.record-section-five-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 100px;
}

@media screen and (max-width: 1000px) {
        .record-section-five-container {
          padding: 50px;
        }
      }
      
      @media screen and (max-width: 826px) {
        .record-section-five-container {
          padding: 20px;
        }
      
      }